<p>
    When searching the lexicon, one provides a list of conditions (patterns),
    each of which must match individually for a lexical unit to be included in
    the result (they are and-ed together).
</p>

<p>
    Each pattern is shown in the search form as a single "chip" (e.g.
    <span class="v-chip v-chip--small theme--light"
        ><span class="v-chip__content">
            id=blu-n-&nbsp;
            <i
                aria-hidden="true"
                class="v-icon v-icon--link material-icons theme--light"
                style="font-size: 16px;"
                >close</i
            >
        </span></span
    >) and consists of two parts. The <b>match key</b> (<span class="code"
        >id</span
    >
    in the example) and a regular expression (<span class="code">blu-n-</span>
    in the example). The match key determines the attribute of the lexical unit
    the regular expression will be matched against.
</p>

<p>
    The system also allows negative conditions (e.g. list only units which do
    not match a pattern). These are entered into the search form in the same way
    except that instead of <span class="code">=</span> one uses
    <span class="code">!=</span> and the condition shows with a red background (
    <span class="v-chip v-chip--small theme--light red-bg"
        ><span class="v-chip__content">
            id!=blu-n-&nbsp;
            <i
                aria-hidden="true"
                class="v-icon v-icon--link material-icons theme--light"
                style="font-size: 16px;"
                >close</i
            >
        </span></span
    >)
</p>

<h3>The match key</h3>
Each match key determines (generates) (a list of) string(s), at least one of
which must match the regular expression in order that the condition is
considered a match. The following types of match keys are available:

<h4>Keys for unstructured attributes</h4>
Each attribute of a lexical unit has a corresponding match key of the same name.
Most attributes are unstructured (at least from the point of view of the system)
and the string determined by the key is just the textual source of the attribute
as present in the input data.

<h4>Keys for structured attributes</h4>
There are some attributes (e.g. <span class="code">frame</span> or
<span class="code">lvc</span>) which have further structure recognized by the
system. For these attributes the key with the same name will determine strings
on a case by case basis. For the <span class="code">frame</span> attribute, for
example, it will still be a list of all the slots. In general, appending
<span class="code">.src</span> to the key name will match the attributes textual
source, if available. Additionally these attributes will have subkeys matching
particular parts of their value. These keys will typically consist of the
attribute name concatenated with a dot (<span class="code">.</span>) and the
name of the relevant part. For example, the frame attribute has a subkey
<span class="code">frame.functor</span> which corresponds to the list of functor
names and <span class="code">frame.PAT.forms</span> which corresponds to the
forms of the slot corresponding to the functor <span class="code">PAT</span>.
The list of suggestions shown when entering queries into the search form will
typically include a short description for each structured match key to help with
knowing what strings the key determines.
<p>
    One can also click on the
    <i aria-hidden="true" class="v-icon material-icons theme--light">vpn_key</i>
    icon shown with each lexical unit to bring up a dialog showing the different
    match keys available and the corresponding strings determined by them (the
    different strings are separated by a dot: •).
</p>

<h3>The regular expressions</h3>
The patterns which are matched against the strings generated by the match keys
are
<a href="https://en.wikipedia.org/wiki/Regular_expression"
    >regular expressions</a
>
as interpreted by the
<a href="https://docs.python.org/3/library/re.html"
    >Python regular expression library</a
>. In particular this means that the Python extensions to regular expressions
and the python re syntax are available. It is also important to note that a
string can match the expression anywhere (not just at the start, i.e. the
<a
    href="https://docs.python.org/3/library/re.html#re.Pattern.search"
    class="code"
    >search</a
>
function is used as opposed to the
<a
    href="https://docs.python.org/3/library/re.html#re.Pattern.search"
    class="code"
    >match</a
>
function).
