<div class='sidebar-block'>
<h3>Useful Links</h3>
<ul>
  <li><a href="http://ufal.mff.cuni.cz/vallex/3.1/about.html">The Vallex Website</a></li>
  <li><a href="http://gitlab.com/Verner/pyvallex">Source Repo</a></li>
  <li><a href="/latest/py_vallex.pdf">PDF Documentation</a>
</ul>
</div>
