<div class='sidebar-block'>
<h3>About</h3>
<p>
    PyVallex is a Python interface to various vallency lexicon (Vallex) data.
</p>
</div>
<div class='sidebar-block'>
<h3>Contents</h3>
</div>
{{ toc }}

