.LU-SRC-vallexClusterLemma {    font-weight: bold; color: Yellow; background-color: darkgreen;}
.LU-SRC-vallexVerbLemma {     color: darkblue;  background-color: lightgreen;}
.LU-SRC-vallexNounLemma {     color: darkblue;  background-color: cyan;}
.LU-SRC-missingNounLemma {     font-weight: bold; color: Red;  background-color: cyan;}
.LU-SRC-vallexFrame {         color: Black;  background-color: BlanchedAlmond;}
.LU-SRC-vallexAttribute {      font-weight: bold; color: blue;}
.LU-SRC-typeOfDiathesis {      font-weight: bold; color: darkmagenta;}
.LU-SRC-oldValue {             font-weight: bold; color: Red;}
.LU-SRC-sentence {            color: red;}
.LU-SRC-aspect {               color: DarkCyan; font-weight: bold;}
.LU-SRC-id {                   font-weight: bold; color: darkgreen;}
.LU-SRC-functor {              font-weight: bold; color: brown;}
.LU-SRC-frame {                font-weight: bold; color: brown;}
.LU-SRC-comment {              color: red; background-color: BlanchedAlmond;}
