.separated-list.comma:not(:last-child)::after {
    content: ", ";
}

.separated-list.semicolon:not(:last-child)::after {
    content: " • ";
}

.description {
    color: gray;
    font-style: italic;
    font-size: small;
}

.code {
    font-style: mono;
    color: #ff5252 !important;
}

.red-bg {
    background-color: #ff5252 !important;
}
