<template>
    <div class="v-AboutDlg">
        <v-dialog
            v-model="state.gui.about_dlg"
            max-width="80%"
            @keydown.esc="state.gui.about_dlg = false"
            scrollable
        >
            <v-card class="v-AboutDlg" id="App-AboutDlg">
                <v-card-title class="teal about-title">
                    <div>
                        <h2>{{ state.frontend_info.title }}</h2>
                        <a :href="state.repo_url('frontend')">{{
                            state.frontend_info.tag
                        }}</a>
                        ({{ state.frontend_info.date }})<br />
                        <span
                            v-if="
                                state.frontend_info.tag !=
                                    state.backend_info.tag
                            "
                            class="error"
                        >
                            <b>Server Version (differs from client!)</b>:
                            {{ state.backend_info.tag }} ({{
                                state.backend_info.date
                            }},
                            <a :href="state.repo_url('backend')">{{
                                state.backend_info.hash.slice(0, 8)
                            }}</a
                            >)<br
                        /></span>
                    </div>
                    <v-spacer></v-spacer>
                    <a
                        class="btn bug"
                        :href="state.bug_url()"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <v-btn
                            ><v-icon>bug_report</v-icon>&nbsp;&nbsp; Report a
                            bug</v-btn
                        >
                    </a>
                </v-card-title>
                <v-card-text class="help">
                    <b>Vallex Data Version</b>:
                    <a
                        v-if="
                            state.backend_info.vallex_version[2] !== 'Unknown'
                        "
                        :href="state.repo_url('vallex')"
                        >{{ state.backend_info.vallex_version[0] }}</a
                    >
                    <span v-else>{{
                        state.backend_info.vallex_version[0]
                    }}</span>
                    ({{ state.backend_info.vallex_version[1] }})<br />
                    <div class="stats">
                        <b>{{ state.lexicon_stats.m_lu_count }}</b> LUs in
                        {{ state.lexicon_stats.m_lexeme_count }} Lexemes (with a
                        total of
                        {{ state.lexicon_stats.m_lexeme_lu_count }} LUs)<br />
                        <b>{{ state.lexicon_stats.lemma_count }}</b> lemmas ({{
                            state.lexicon_stats.lemma_count_noiter
                        }}
                        noniterative) <br />
                        <b>{{ state.lexicon_stats.lemma_count_nodisc_hom }}</b>
                        non-hom. lemmas ({{
                            state.lexicon_stats.lemma_count_nodisc_hom_noiter
                        }}
                        noniterative)<br />
                        <b>{{ state.lexicon_stats.lu_cross_lemma_count }}</b>
                        distinct lemma-aspect pairs ({{
                            state.lexicon_stats.lu_cross_lemma_count_noiter
                        }}
                        noniterative)
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import store from "../Store.js"

export default {
    data() {
        return {
            state:
                store.state /** A reference to the global application state */,
        }
    },
}
</script>

<style lang="scss">
.v-AboutDlg {
    .center {
        text-align: center;
    }
    .about-title {
        a {
            color: white;
            text-decoration: none;
        }
    }
    a.btn {
        text-decoration: none;
    }
}
</style>
