<template>
    <tr class="v-Attrib" v-if="attr.name !== 'idiom'">
        <!-- skip the idiom attribute -->
        <!-- handle the display of names of duplicate attributes -->
        <td v-if="attr.duplicate.length > 0" class="name">
            {{ attr.duplicate }}
        </td>
        <td v-else-if="attr.name !== 'cspecval'" class="name">
            {{ attr.name }}
        </td>

        <!-- attributes which contain links -->
        <td
            v-if="
                attr.name.startsWith('lvc') ||
                    attr.name.startsWith('derived') ||
                    attr.name == 'ref'
            "
        >
            <span>
                <span
                    v-for="(ch, index) in attr.data['ids']"
                    :key="index"
                    class="separated-list comma"
                >
                    <a
                        v-if="lunits[ch.id]"
                        @click="actions.show_reference(ch.id)"
                    >
                        <marked-text
                            :text="ch.id"
                            :regexes="applicable_conds('ids')"
                        />
                    </a>
                    <marked-text
                        v-else
                        :text="ch.id"
                        :regexes="applicable_conds('ids')"
                    />
                </span>
            </span>
            <span v-if="attr.data['lemmas'] && attr.data['lemmas'].length > 0"
                >|
                <marked-text
                    v-for="lem in attr.data['lemmas']"
                    :key="lem"
                    class="separated-list comma"
                    :text="lem"
                    :regexes="applicable_conds('lemmas')"
                />
            </span>
        </td>

        <!-- the (computed) specval attribute -->
        <td
            v-else-if="attr.name == 'cspecval'"
            class="value frame cspecval"
            colspan="2"
        >
            <!-- a single slot -->
            <span
                class="functor"
                v-for="fe in attr.data"
                :key="fe.functor + fe.spec"
            >
                <span
                    :class="[
                        'name',
                        'nobr',
                        fe.spec == '+' ? 'add' : fe.spec == '-' ? 'del' : '',
                    ]"
                >
                    {{ fe.functor }}
                    <!-- the functor -->
                    <span class="supsub">
                        <!-- the obligatory type -->
                        <span v-if="fe.oblig_verb == fe.oblig_noun">{{
                            fe.oblig_noun
                        }}</span>
                        <span v-else-if="fe.oblig_verb == ''" class="add">{{
                            fe.oblig_noun
                        }}</span>
                        <span v-else-if="fe.oblig_noun == ''" class="del">{{
                            fe.oblig_verb
                        }}</span>
                        <span v-else>
                            <span class="del">{{ fe.oblig_verb }}</span>
                            <v-icon style="font-size:small;"
                                >arrow_right_alt</v-icon
                            >
                            <span class="add">{{ fe.oblig_noun }}</span>
                        </span>
                        &nbsp;
                        <br />
                        &nbsp;
                        <!-- the forms -->
                        <span class="typical">
                            <span
                                v-for="[vform, nformset] in fe.forms_typ"
                                :key="vform + nformset"
                                class="forms separated-list semicolon"
                            >
                                {{ vform
                                }}<v-icon style="font-size:small;"
                                    >arrow_right_alt</v-icon
                                ><span
                                    class="separated-list comma"
                                    v-for="nform in nformset"
                                    :key="vform + nform"
                                    >{{ nform }}</span
                                >
                            </span>
                        </span>
                        <span
                            v-if="
                                fe.forms_eq.length > 0 &&
                                    fe.forms_typ.length > 0
                            "
                            >/</span
                        >
                        <span
                            v-for="form in fe.forms_eq"
                            :key="form"
                            class="forms separated-list comma"
                            >{{ form }}</span
                        >
                        <span
                            v-for="form in fe.forms_add"
                            :key="form"
                            class="forms separated-list comma add"
                            >{{ form }}</span
                        >
                        <span
                            v-for="form in fe.forms_del"
                            :key="form"
                            class="forms separated-list comma del"
                            >{{ form }}</span
                        >
                    </span>
                </span>
            </span>
        </td>
        <td v-else-if="typeof attr.data == 'string'" class="value">
            <marked-text :text="attr.data" :regexes="applicable_conds()" />
        </td>
        <td v-else-if="Array.isArray(attr.data)">
            <marked-text
                v-for="(ch, index) in attr.data"
                :key="index"
                class="separated-list comma"
                :text="ch"
                :regexes="applicable_conds()"
            />
        </td>
        <td
            v-else-if="
                Object.keys(attr.data).length == 1 &&
                    Object.keys(attr.data).indexOf('all') > -1
            "
        >
            <ul>
                <marked-text
                    v-if="typeof attr.data['all'] == 'string'"
                    class="value"
                    :text="attr.data['all']"
                    :regexes="applicable_conds('all')"
                />
                <span v-else-if="Array.isArray(attr.data['all'])" class="value">
                    <li
                        v-for="(elt, index) in attr.data['all']"
                        :key="index"
                        class="separated-list semicolon"
                    >
                        <marked-text
                            v-if="elt.__type__ == 'Text'"
                            class="text"
                            :text="elt.content"
                            :regexes="applicable_conds('all')"
                        />
                        <span v-else-if="Array.isArray(elt)">
                            <marked-text
                                v-for="(ch, index) in elt"
                                :key="index"
                                class="separated-list comma"
                                :text="ch"
                                :regexes="applicable_conds('all')"
                            />
                        </span>
                        <marked-text
                            v-else
                            :text="elt"
                            :regexes="applicable_conds('all')"
                        />
                    </li>
                </span>
                <marked-text
                    v-else-if="attr.data['all'].__type__ == 'Text'"
                    class="value text"
                    :text="attr.data['all'].content"
                    :regexes="applicable_conds('all')"
                />
            </ul>
        </td>
        <td v-else-if="Object.keys(attr.data).length > 0">
            <ul>
                <li
                    v-for="sub in Object.keys(attr.data).filter(
                        (key) =>
                            !Array.isArray(attr.data[key]) ||
                            attr.data[key].length > 0
                    )"
                    :key="sub"
                >
                    <span class="name sub aspect">{{ sub }}</span>
                    <marked-text
                        v-if="typeof attr.data[sub] == 'string'"
                        class="value"
                        :text="attr.data[sub]"
                        :regexes="applicable_conds(sub)"
                    />
                    <span
                        v-else-if="Array.isArray(attr.data[sub])"
                        class="value"
                    >
                        <ul>
                            <li
                                v-for="(elt, index) in attr.data[sub]"
                                :key="index"
                                class="separated-list semicolon"
                            >
                                <marked-text
                                    v-if="elt.__type__ == 'Text'"
                                    class="text"
                                    :text="elt.content"
                                    :regexes="applicable_conds(sub)"
                                />
                                <span v-else-if="Array.isArray(elt)">
                                    <marked-text
                                        v-for="(ch, index) in elt"
                                        :key="index"
                                        class="separated-list comma"
                                        :text="ch"
                                        :regexes="applicable_conds(sub)"
                                    />
                                </span>
                                <marked-text
                                    v-else
                                    :text="elt"
                                    :regexes="applicable_conds(sub)"
                                />
                            </li>
                        </ul>
                    </span>
                    <marked-text
                        v-else-if="attr.data[sub].__type__ == 'Text'"
                        class="value text"
                        :text="attr.data[sub].content"
                        :regexes="applicable_conds('all')"
                    />
                    <Value v-else :val="attr.data[sub]" />
                </li>
            </ul>
        </td>
    </tr>
</template>

<script>
import api from "../Api.js"
import store from "../Store.js"
import MarkedText from "./MarkedText.vue"
import Value from "./Value.vue"

export default {
    data() {
        return {
            /** A map of referenced lexical units, keyed by id */
            lunits: {},

            /** A reference to the global application state */
            state: store.state,

            /** A reference to the global application actions */
            actions: store.actions,
        }
    },
    name: "Attrib",
    props: ["attr"],
    components: {
        Value,
        MarkedText,
    },
    methods: {
        /** Returns a list of conditions from the current search query
         *  which are applicable to the part of the attribute
         *  given by `key`
         *
         *  @param {string} key --- the search key (e.g. all, impf, ...)*/
        applicable_conds(key) {
            let base = "" // The name of the attribute for search purposes (i.e. no numbers appended, see ATTR_EQUIVALENCE in vallex.LexicalUnit)
            if (this.attr.name.startsWith("example")) {
                base = "example"
            } else
                base = this.attr.name.match(/[0-9]$/)
                    ? this.attr.name.slice(0, -1)
                    : this.attr.name
            const key_parts = ((key ? base + "." + key : base) + ".src").split(
                "."
            )
            const matcher = (q) => {
                let prefix = ""
                // We want to match all queries which are more general (i.e. for example.all we want to also match
                // both example and example.src)
                for (const k of key_parts) {
                    if (
                        q.startsWith(prefix + k + "=") ||
                        q.startsWith(prefix + "src" + "=")
                    )
                        return true
                    prefix += k + "."
                }
                return q.startsWith(prefix.slice(0, -1))
            }
            // Extract the regexes from the matched conditions and compile them
            try {
                return this.state.current_query
                    .filter(matcher)
                    .map((c) => new RegExp(c.split("=")[1]))
            } catch {
                return []
            }
        },
    },
    async created() {
        if (
            (this.attr.name.startsWith("lvc") ||
                this.attr.name.startsWith("derived") ||
                this.attr.name == "ref") &&
            this.attr.data.ids
        ) {
            let references = {}
            for (const ch of this.attr.data.ids)
                references[ch.id] = await api.getLU(ch.id)
            this.lunits = references
        }
    },
}
</script>

<style lang="scss">
.v-Attrib {
    .name {
        padding-right: 0.5em;
        vertical-align: top;
        color: gray;
    }

    .name.sub {
        font-style: italic;
        font-weight: bold;
    }
    ul {
        padding-left: 0px;
        display: inline-grid;
        margin: 0em !important;
    }
    .value {
        ul {
            padding-left: 0px;
            display: inline;
        }
        li {
            display: inline;
        }
    }
    .add {
        color: #4caf50;
        font-weight: bold;
    }
    .del {
        color: #ff5722;
        font-weight: bold;
    }
    .cspecval {
        padding-bottom: 1em;
        padding-top: 1em;
    }
}
</style>
