<template>
    <div class="v-LURefDlg">
        <v-dialog
            v-model="state.gui.lu_reference_dlg"
            max-width="80%"
            @keydown.esc="state.gui.lu_reference_dlg = false"
            scrollable
        >
            <v-card v-if="state.gui.current_reference_lu">
                <v-card-title class="lex-header">
                    <h4>{{ state.gui.current_reference_lu.parent.id }}</h4>
                    <v-spacer></v-spacer>
                    <span class="align-end">{{
                        state.gui.current_reference_lu.parent.lexical_units
                            .length
                    }}</span>
                    <v-btn
                        flat
                        icon
                        @click="state.gui.lu_reference_dlg = false"
                        class="align-end"
                    >
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text>
                    <v-container fluid>
                        <lexical-unit
                            :lu="state.gui.current_reference_lu"
                            :hide-attrs="{}"
                        />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import store from "../Store.js"
import LexicalUnit from "./LexicalUnit"

export default {
    components: {
        LexicalUnit,
    },
    data() {
        return {
            state:
                store.state /** A reference to the global application state */,
        }
    },
}
</script>

<style lang="scss">
.help {
    font-size: 12pt;
}
.lex-header {
    background-color: lightyellow;
}
</style>
