<template>
    <code class="v-LUSource">
        <span
            v-for="(piece, index) in pieces"
            :class="piece.cls"
            :key="index"
            >{{ piece.text }}</span
        >
    </code>
</template>

<script>
import rules from "../hilight_rules"
import "../scss/syntax-hilight.scss"

export default {
    props: ["lu"],
    computed: {
        pieces() {
            let src = this.lu.source.text
            for (const [syntaxClass, pattern] of rules)
                src = src.replace(pattern, "\x01" + syntaxClass + "\x02$1\x01")
            const pcs = src.split("\x01")
            let ret = []
            for (const p of pcs) {
                const [cls, cont] = p.split("\x02")
                if (cont)
                    ret.push({
                        cls: "LU-SRC-" + cls,
                        text: cont,
                    })
                else
                    ret.push({
                        cls: "",
                        text: cls,
                    })
            }
            return ret
        },
    },
}
</script>

<style lang="scss">
code.v-LUSource {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none;
}
</style>
