<template>
    <v-navigation-drawer
        :mini-variant.sync="minimized"
        v-model="show"
        hide-overlay
        app
        stateless
        v-on:transitionend="on_sidebar_toggle"
    >
        <v-toolbar flat class="transparent">
            <v-list class="pa-0">
                <v-list-tile
                    avatar
                    class="hover"
                    @click.native="minimized = !minimized"
                >
                    <v-list-tile-avatar>
                        <h1>NV</h1>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{
                            state.frontend_info.short_title
                        }}</v-list-tile-title>
                    </v-list-tile-content>

                    <v-list-tile-action style="position:relative;right:-11px;">
                        <v-btn icon>
                            <v-icon>chevron_left</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
        </v-toolbar>

        <div class="settings">
            <v-icon v-if="minimized" @click="show_docs">local_library</v-icon>
            <div v-else @click="show_docs" class="maximized">
                <v-icon>local_library</v-icon
                ><span class="text">Documents</span>
            </div>
        </div>
        <div class="settings">
            <v-icon v-if="minimized" @click="show_about">info</v-icon>
            <div v-else @click="show_about" class="maximized">
                <v-icon>info</v-icon><span class="text">About</span>
            </div>
        </div>
        <div class="settings">
            <v-icon v-if="minimized" @click="open_settings">settings</v-icon>
            <div v-else @click="open_settings" class="maximized">
                <v-icon>settings</v-icon><span class="text">Setings</span>
            </div>
        </div>
        <div class="settings">
            <v-icon v-if="minimized" class="minimized" @click="open_stats"
                >bar_chart</v-icon
            >
            <div v-else @click="open_stats" class="maximized">
                <v-icon>bar_chart</v-icon><span class="text">Stats</span>
            </div>
        </div>

        <div class="centered" :class="minimized ? 'minimized' : ''">
            <v-badge v-if="minimized">
                <span slot="badge" class="res_number">{{
                    state.search_results.length
                }}</span>
                <v-icon @click="minimized = false">view_list</v-icon>
            </v-badge>
            <h3 v-else>Matched Lexemes ({{ state.search_results.length }})</h3>
        </div>
        <v-list v-show="!minimized" dense class="results">
            <v-text-field
                v-model="search"
                :append-icon="search.length > 0 ? '' : 'search'"
                label="Search"
                single-line
                hide-details
                class="search"
                clearable
            ></v-text-field>
            <v-data-table
                :hide-headers="true"
                :items="state.search_results"
                :search="search"
                :custom-filter="lexeme_filter"
                :pagination.sync="pagination"
                item-key="_index"
            >
                <template slot="items" slot-scope="props">
                    <td>
                        <a :href="'#lex:' + props.item.id">{{
                            props.item.id
                        }}</a>
                    </td>
                    <td>
                        ({{ props.item._matching_lus.length }} of
                        {{ props.item.lexical_units.length }})
                    </td>
                </template>
            </v-data-table>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
import store from "../Store.js"

export default {
    components: {},
    data: () => ({
        show: true,
        minimized: true,
        doc_expanded: false,
        state: store.state,
        actions: store.actions,
        search: "",
        pagination: {
            rowsPerPage: 30,
        },
    }),
    methods: {
        on_sidebar_toggle() {
            if (this.minimized) {
                this.$nextTick(() => (this.doc_expanded = false))
            }
        },
        open_settings() {
            const min_state = this.minimized
            this.$nextTick(() => (this.minimized = min_state))
            this.actions.show_display_settings()
        },
        show_docs() {
            const min_state = this.minimized
            this.$nextTick(() => (this.minimized = min_state))
            this.actions.show_docs()
        },
        show_about() {
            const min_state = this.minimized
            this.$nextTick(() => (this.minimized = min_state))
            this.actions.show_about()
        },
        open_stats() {
            const min_state = this.minimized
            this.$nextTick(() => (this.minimized = min_state))
            this.actions.show_stats()
        },
        lexeme_filter(lexemes, search) {
            return lexemes.filter(
                (lex) => lex.id.toLowerCase().indexOf(search.toLowerCase()) == 0
            )
        },
    },
    created() {
        performance.mark("App/gui/Sidebar:start")
    },
    mounted() {
        this.$nextTick(() => performance.mark("App/gui/Sidebar:end"))
    },
}
</script>

<style lang="scss">
.docs a {
    text-decoration: none;
    text-transform: uppercase;
}
div.settings:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.hover:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.settings {
    text-align: center;
    cursor: pointer;
    .v-icon {
        padding: 16px;
    }
    .text {
        padding-left: 16px;
        padding-right: 16px;
        top: -20px;
        position: relative;
    }
    .maximized {
        text-align: left;
    }
}
div.centered {
    text-align: center;
    .v-icon {
        padding: 10px;
    }
}
div.centered.minimized:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.results a {
    text-decoration: none;
}
.res_number {
    font-size: x-small;
}
.search {
    label,
    input {
        padding-left: 1em;
    }
    .v-icon {
        padding-right: 1em;
    }
}
</style>
