<template>
    <v-app>
        <!-- Sidebar -->
        <sidebar
            v-if="state.api_loaded && state.gui.show_chrome"
            class="no-print"
        />

        <!-- Main Content (when loaded) -->
        <v-content v-if="state.api_loaded">
            <!-- Persistent messages for the user -->
            <div v-if="state.messages.length > 0" class="no-print">
                <v-alert
                    v-for="(m, i) in state.messages"
                    v-model="m.unread"
                    :key="i"
                    :type="m.type"
                    dismissible
                >
                    <div class="alert-action" v-if="m.opts && m.opts.actions">
                        <v-btn
                            flat
                            @click="a.action(), (m.unread = false)"
                            v-for="(a, index) in m.opts.actions"
                            :key="index"
                        >
                            {{ a.title }}
                        </v-btn>
                    </div>
                    {{ m.message }}
                </v-alert>
            </div>

            <!-- The search Form (SearchForm.vue)-->
            <SearchForm v-if="state.gui.show_chrome" class="no-print" />

            <v-divider v-if="state.gui.show_chrome" class="no-print" />

            <!-- Stats Dialog (Stats.vue)-->
            <Stats />

            <!-- About Dialog (AboutDlg.vue) -->
            <AboutDlg />

            <!-- Help Dialog (HelpDlg.vue) -->
            <HelpDlg />

            <!-- Help Browser Dialog (HelpBrowser.vue) -->
            <HelpBrowser />

            <!-- Reference LU Dialog (LURefDlg.vue) -->
            <LURefDlg />

            <!-- LU Error Dialog (ValidationErrorsDlg.vue) -->
            <ValidationErrorsDlg />

            <!-- LU Match Map  Dialog (MatchMapDlg.vue) -->
            <MatchMapDlg />

            <!-- Comments Dialog (CommentsDlg.vue) -->
            <CommentsDlg />

            <!-- Busy Dialog (BusyDlg.vue) -->
            <BusyDlg />

            <!-- Display Settings Dialog -->
            <DisplaySettingsDlg />

            <div class="results">
                <!-- Search progress bar -->
                <h2 v-if="state.gui.search_in_progress">
                    <v-progress-linear indeterminate />
                </h2>
                <v-tooltip
                    bottom
                    :class="
                        'source-button ' +
                            (state.gui.show_source ? 'active' : '')
                    "
                >
                    <span
                        v-if="state.gui.show_chrome"
                        slot="activator"
                        @click="state.gui.show_source = !state.gui.show_source"
                        class="no-print"
                        ><v-icon>code</v-icon></span
                    >
                    <span v-if="!state.gui.show_source"
                        >Show lexical unit sources</span
                    >
                    <span v-else>Show formatted lexical units</span>
                </v-tooltip>

                <!-- Results table (ResultTable.vue) -->
                <ResultTable
                    :lexemes="state.search_results"
                    :hide-attrs="hidden_attrs"
                    :loading="state.gui.search_in_progress"
                    :scroll_to="scroll_to"
                    :rows-per-page="state.gui.result_lexemes_per_page"
                />
            </div>

            <!-- Notifications -->
            <v-snackbar
                v-model="state.gui.notification.show"
                bottom
                :timeout="state.gui.notification.timeout"
                class="no-print"
            >
                {{ state.gui.notification.text }}
                <v-btn
                    color="pink"
                    flat
                    @click="state.gui.notification.show = false"
                >
                    Dismiss
                </v-btn>
            </v-snackbar>
        </v-content>

        <!-- Initial Loading Screen -->
        <v-content id="loading" v-else>
            <div v-if="state.messages.length > 0">
                <v-alert
                    v-for="(m, i) in state.messages"
                    value="true"
                    :key="i"
                    :type="m.type"
                >
                    <div class="alert-action" v-if="m.opts && m.opts.actions">
                        <v-btn
                            flat
                            @click="a.action(), (m.unread = false)"
                            v-for="(a, index) in m.opts.actions"
                            :key="index"
                        >
                            {{ a.title }}
                        </v-btn>
                    </div>
                    {{ m.message }}
                </v-alert>
            </div>
            <div id="content">
                <h1>{{ state.frontend_info.short_title }}</h1>
                <center>({{ state.frontend_info.tag }})</center>
                <div
                    v-if="
                        state.backend_info.vallex_version &&
                            state.backend_info.vallex_version[0] !== 'Unknown'
                    "
                >
                    <b>Vallex Data Version</b>:
                    <a
                        v-if="
                            state.backend_info.vallex_version[0] !== 'Unknown'
                        "
                        :href="state.repo_url('vallex')"
                        >{{ state.backend_info.vallex_version[0] }}</a
                    >
                    <span v-else>{{
                        state.backend_info.vallex_version[0]
                    }}</span>
                </div>
                <h2>{{ state.gui.loading.what }}</h2>
                <v-progress-circular
                    size="150"
                    color="teal"
                    :value="
                        (state.gui.loading.progress.loaded /
                            state.gui.loading.progress.total) *
                            100
                    "
                    :indeterminate="state.gui.loading.progress.total == 0"
                >
                    <span v-if="state.gui.loading.progress.display">{{
                        state.gui.loading.progress.display
                    }}</span>
                    <span v-else
                        >{{ state.gui.loading.progress.loaded / 1000 }} Kb
                    </span>
                </v-progress-circular>
            </div>
        </v-content>
    </v-app>
</template>

<script>
import api from "./Api"
import store from "./Store"

import HelpDlg from "./components/HelpDlg"
import LURefDlg from "./components/LURefDlg"
import ValidationErrorsDlg from "./components/ValidationErrorsDlg"
import MatchMapDlg from "./components/MatchMapDlg"
import CommentsDlg from "./components/CommentsDlg"
import AboutDlg from "./components/AboutDlg"
import BusyDlg from "./components/BusyDlg"
import DisplaySettingsDlg from "./components/DisplaySettingsDlg"
import HelpBrowser from "./components/HelpBrowser"

import ResultTable from "./components/ResultTable"
import SearchForm from "./components/SearchForm"
import Sidebar from "./components/Sidebar"
import Stats from "./components/Stats"

import LogRocket from "logrocket"
if (!process.env.VUE_APP_DISABLE_LOG_ROCKET) {
    LogRocket.init("g3mus4/nomvallex-beta", {
        release:
            process.env.VUE_APP_GIT_TAG +
            "(" +
            process.env.VUE_APP_GIT_DATE +
            ")",
    })
}

export default {
    name: "App",
    components: {
        ResultTable,
        SearchForm,
        Sidebar,
        Stats,
        HelpDlg,
        HelpBrowser,
        LURefDlg,
        ValidationErrorsDlg,
        MatchMapDlg,
        CommentsDlg,
        AboutDlg,
        BusyDlg,
        DisplaySettingsDlg,
    },
    data() {
        return {
            searching: false,
            display_rows: 20,
            scroll_to: "",
            state: store.state,
        }
    },
    computed: {
        hidden_attrs() {
            let ret = {}
            if (!this.state.config.display_options) return ret
            for (const [_, group] of Object.entries(
                this.state.config.display_options
            )) {
                for (const [_, opts] of Object.entries(group.attrs)) {
                    if (!opts.value) {
                        for (const attr_name of opts.attrs) {
                            ret[attr_name] = true
                        }
                    }
                }
            }
            return ret
        },
    },
    methods: {
        process_hash(hash) {
            if (!hash) return
            performance.mark("App/gui/process_hash:start")
            try {
                if (hash.startsWith("#lex:")) {
                    this.scroll_to = decodeURI(hash.slice(5))
                } else if (hash.startsWith("#search:")) {
                    const payload = JSON.parse(decodeURI(hash.slice(8)))
                    this.state.current_query = payload.current_query
                    this.state.search_in = payload.search_in
                    store.actions.search()
                } else if (hash.startsWith("#histogram:")) {
                    const payload = JSON.parse(decodeURI(hash.slice(11)))
                    this.state.current_query = payload.current_query
                    this.state.search_in = payload.search_in
                    this.state.histogram.key = payload.histogram.key
                    this.state.histogram.selector = payload.histogram.selector
                    this.state.gui.stats_dlg = true
                    store.actions.computeHistogram()
                }
            } catch (e) {
                store.actions.error('Invalid link "' + hash + '":' + e)
            }
            performance.mark("App/gui/process_hash:end")
        },
    },
    async created() {
        window.app_store = store
        performance.mark("App/gui/startup:start")
        try {
            await api.load(store)
            this.process_hash(window.location.hash)
            window.addEventListener("popstate", () =>
                this.process_hash(window.location.hash)
            )
        } catch (ex) {
            store.actions.exception(ex, "Error Initializing", {
                actions: [{title: "Reload", action: () => location.reload()}],
            })
        }
    },
    mounted() {
        this.$nextTick(function() {
            performance.mark("App/gui/startup:end")
        })
    },
}
</script>
<style lang="scss">
.source-button {
    position: absolute;
    right: 24px;
    cursor: pointer;
}
.source-button.active {
    i {
        color: #1976d2;
    }
}

.results h2 {
    margin-top: 1em;
    text-align: center;
    margin-bottom: 1em;
}
#options-btn {
    float: right;
    margin-right: 1.9em;
    margin-left: -1.9em;
}
#loading {
    #content {
        h1 {
            padding: 1em;
            font-size: 5em;
        }
        h2 {
            font-size: 2em;
            padding-bottom: 2em;
        }
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
    }
}
.alert-action {
    position: absolute;
    right: 3em;
    top: 0.3em;
}
</style>
