div.sidebar-block {
    padding-left:20px;
    padding-right:20px;
}

.alert-info.note {
    background-color: #a8c0d0;
    color: black;
}

.alert-info.todo {
    background-color: #FFEB3B;
    color: gray;
}

dl.class, dl.function {
    border-top: solid 1px;
}
div.section[id*=module-] {
    padding-top: 2em;
    border-top: solid 4px;
}

div.section[id*=module-] h2,
div.section[id*=module-] h3 {
    float:right;
    margin-top: 0px;
    border: solid 1px;
    padding: 1em;
    margin-left: 1em;
    background-color:#18bc9c;
}

.http-example .caption.selected {
    background-color:#ffeb3b !important;
}

div.http-example-http,
div.http-example-curl,
div.http-example-wget,
div.http-example-python-requests
{
    padding-left:0px;
    padding-right:2px;
}
div.http-example {
    border: solid 1px lightgray;
    padding-left:0px;
}
.http-example pre {
    margin-bottom:0px;
    border-radius:0px;
    border-left:none;
    border-right:none;
    border-bottom:none;
}
