<div class="headerinfo">
    <!-- This work has been supported by the grant P406/12/0557 of the Grant Agency of Czech Republic.<br/>-->
    Tento text byl publikován jako součást knihy
    <a
        href="#bib:vallex16"
        class="href"
        title="Valenční slovník českých sloves VALLEX"
        >(Lopatková et al., 2016)</a
    >
    vydané nakladatelstvím
    <a
        href="http://karolinum.cz/ink2_stat/index.jsp?include=podrobnosti&amp;id=17418&amp;jazyk=cs"
        >Karolinum</a
    >.
</div>

<h1 id="skip"></h1>

<p>
    <i>Valenční slovník českých sloves (též VALLEX 3.0)</i> poskytuje informace
    o valenční struktuře českých sloves v jejich jednotlivých významech, které
    charakterizuje pomocí glos a příkladů; tyto základní údaje jsou doplněny
    o některé další syntaktické a sémantické charakteristiky.
    <i>VALLEX 3.0</i> zachycuje 4&thinsp;586 českých sloves, která odpovídají
    10&thinsp;821 lexikálním jednotkám, tedy „danému slovesu v daném významu“.
</p>
<p>
    <i>VALLEX 3.0</i> navazuje na vydání slovníku z roku 2008
    <a
        href="#bib:vallex08"
        class="href"
        title="Valenční slovník českých sloves VALLEX"
        >(Lopatková et al., 2008)</a
    >. Ačkoli se kvantitativně příliš neliší od
    <a href="http://ufal.mff.cuni.cz/vallex/2.5/" class="href"
        >předchozí verze 2.0</a
    >, zásadně se proměnila jeho koncepce. Model slovníku byl uzpůsoben tak, aby
    umožňoval teoreticky adekvátně a přitom ekonomicky popisovat změny ve
    valenční struktuře českých sloves. Slovník nyní sestává ze dvou komponent:
    <i>slovníková (datová) komponenta</i> obsahuje lexikální hesla popisující
    valenční chování jednotlivých lexémů sloves, zatímco
    <i>gramatická komponenta</i> (představující část celkové gramatiky jazyka)
    obsahuje gramatická pravidla popisující možné změny v jejich valenční
    struktuře. Ve slovníku jsou reflektovány gramaticky podmíněné změny spojené
    s diatezemi, reciprocitou a reflexivitou. Slovník tak zachycuje nejen
    nepříznakové povrchověsyntaktické realizace lexikálních jednotek slovesných
    lexémů (aktivní, nereciproční a nereflexivní konstrukce), ale též struktury
    příznakové (pasivní, reciproční nebo reflexivní konstrukce). Z lexikálně
    motivovaných změn jsou zde vyznačeny ty změny, které jsou spojeny se změnou
    lexikální jednotky téhož slovesného lexému (např. typ
    <span class="example">naložit vůz senem – naložit seno na vůz</span>). Dále
    jsou k lexikálním jednotkám <i>VALLEX</i>u doplněny příklady z Českého
    národního korpusu a z Pražského závislostního korpusu, slovník je též
    propojen se slovníkem PDT-Vallex.
</p>

<h2 id="thanks">Poděkování</h2>

<p>
    Za inspirativní poznámky, diskuse nad tématy souvisejícími s valencí sloves
    i lidskou podporu děkujeme především prof. Jarmile Panevové, autorce
    valenční teorie, ze které při popisu lexikálních hesel ve VALLEXu vycházíme.
    Naše díky náleží též dlouholeté spolupracovnici Karolíně Skwarské, stejně
    jako ostatním kolegům, rodinám a přátelům.
</p>
<p>
    <i>VALLEX</i> je vytvářen od roku 2001 v Ústavu formální a aplikované
    lingvistiky na Matematicko-fyzikální fakultě Univerzity Karlovy. Podílel se
    na něm výzkumný tým ve složení Markéta Lopatková, Václava Kettnerová
    a Zdeněk Žabokrtský, doplněný o další spolupracovníky, Eduarda Bejčka a Annu
    Vernerovou. Děkujeme též našim spolupracovníkům, kteří se podíleli na
    přípravě starších verzí slovníku, a to Karolíně Skwarské, Kláře Hrstkové,
    Michaele Nové a Miroslavu Tichému. Dále děkujeme autorům nového webového
    rozhraní Jiřímu Balharovi a Benediktu Straňákovi.
</p>
<p>
    Práce na slovníku VALLEX 3.0 a jeho vydání byly podpořeny projektem GAČR
    <i
        >Lexikografické zpracování syntaktických a sémantických vlastností
        sloves v češtině</i
    >, GA P406-12-0557. Doprovodný text byl publikován jako součást knihy
    <a
        href="#bib:vallex16"
        class="href"
        title="Valenční slovník českých sloves VALLEX"
        >(Lopatková et al., 2016)</a
    >
    vydané nakladatelstvím
    <a
        href="http://karolinum.cz/ink2_stat/index.jsp?include=podrobnosti&amp;id=17418&amp;jazyk=cs"
        >Karolinum</a
    >.
</p>
<p>
    Při zpracovávání sloves ve slovníku <i>VALLEX</i> jsme využívali následující
    slovníky a korpusy českých textů:
</p>
<ul>
    <li>
        BRIEF <a href="#bib:palsev-97" class="href">(Pala – Ševeček, 1997)</a>;
    </li>
    <li>
        Slovník spisovné češtiny pro školu a veřejnost (<a
            href="#bib:SSC"
            class="href"
            >Filipec et al., 2005</a
        >, dále SSČ)
    </li>
    <li>
        Slovník spisovného jazyka českého (<a href="#bib:SSJC" class="href"
            >Havránek et al., 1964</a
        >, dále SSJČ);
    </li>
    <li>
        Slovesa pro praxi
        <a href="#bib:SPP" class="href">(Svozilová et al., 1997)</a>;
    </li>
    <li>
        Český národní korpus, řadu SYN (<a href="#bib:SYN" class="href"
            >Křen et al., 2016</a
        >, dále SYN); <a href="https://www.korpus.cz" class="href">web</a>
    </li>
    <li>
        Pražský závislostní korpus (<a href="#bib:pdt-3-0-2013" class="href"
            >Bejček et al., 2013</a
        >, dále PDT).
        <a href="https://ufal.mff.cuni.cz/pdt3.0" class="href">web</a>
    </li>
</ul>
<p>
    Slovník dále využívá jazykových zdrojů zpracovaných a distribuovaných
    v rámci projektu MŠMT ČR
    <a href="https://lindat.mff.cuni.cz/cs/" class="href"
        >LINDAT/CLARIN LM2015071</a
    >.
</p>

<h2 id="avail">Zpřístupnění slovníku</h2>

<p>
    <i>VALLEX</i> je budován jako odpověď na potřebu rozsáhlého a kvalitního
    veřejně dostupného slovníku, který by obsahoval syntaktické a sémantické
    charakteristiky českých sloves a byl přitom široce uplatnitelný v aplikacích
    pro zpracování přirozeného jazyka. Při navrhování koncepce slovníku byl
    proto kladen důraz na všestranné využití jak pro lidského uživatele, tak pro
    automatické zpracování češtiny.
</p>
<p>
    VALLEX je proto zveřejněn ve třech formátech:
</p>
<ul>
    <li>
        <i>VALLEX</i> byl publikován jako tradiční tištěný slovník obsahující –
        mimo klasické slovníkové části – též teoretický úvod představující
        základní koncepční postupy uplatněné při budování slovníku, dále
        podrobný popis hesla; součástí publikace je též gramatická komponenta
        sestávající z bohatě exemplifikovaných formálních pravidel pro
        odvozování příznakových slovesných konstrukcí
        <a
            href="#bib:vallex16"
            class="href"
            title="Valenční slovník českých sloves VALLEX"
            >(Lopatková et al., 2016)</a
        >.
    </li>
    <li>
        <i>VALLEX</i> je dostupný jako webový slovník, který umožňuje rychlé a
        pohodlné vyhledávání podle řady předdefinovaných kritérií
        <a href="http://ufal.mff.cuni.cz/vallex/3.0/" class="href"
            >http://ufal.mff.cuni.cz/vallex/3.0/</a
        >.
    </li>
    <li>
        <i>VALLEX</i> je distribuován ve formě strojově čitelného souboru (XML
        formát), který umožňuje komplexní dotazy nad slovníkovými hesly i
        využití slovníku v nástrojích pro automatické zpracování češtiny
        <a href="http://hdl.handle.net/11234/1-2307" class="href"
            >http://hdl.handle.net/11234/1-2307</a
        >.
    </li>
</ul>

<h2 id="cite">Citování slovníku</h2>

<p>
    Slovník <i>VALLEX</i> je veřejně dostupný slovník pod licencí Creative
    Commons 4.0
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="href"
        >(CC BY-NC-SA)</a
    >. Jeho nekomerční využití je podmíněno přiměřenou citací alespoň jedné
    z následujících publikací (případně dalších relevantních publikací, viz
    odkaz <a href="#val-publ" class="href">níže</a>):
</p>
<ul>
    <li>
        <span class="bib-note">Lopatková et&nbsp;al. (2016)</span><br /><span
            class="capsname"
            >Lopatková</span
        >, M. &ndash; <span class="capsname">Kettnerová</span>, V. &ndash;
        <span class="capsname">Bejček</span>, E. &ndash;
        <span class="capsname">Vernerová</span>, A. &ndash;
        <span class="capsname">Žabokrtský</span>, Z. (2016):
        <em>Valenční slovník českých sloves VALLEX</em>. Nakladatelství
        Karolinum, Praha, 698 pp.
        <pre>
@book{2016-vallex-book,
	title = {Valen{\v{c}}n{\'{i}} slovn{\'{i}}k {\v{c}}esk{\'{y}}ch sloves {VALLEX}},
	author = {Mark{\'{e}}ta Lopatkov{\'{a}} and V{\'{a}}clava Kettnerov{\'{a}}
		and Eduard Bej{\v{c}}ek and Anna Vernerov{\'{a}}
		and Zden{\v{e}}k {\v{Z}}abokrtsk{\'{y}}},
	year = {2016},
	publisher = {Karolinum},
	address = {Praha},
	isbn = {978-80-246-3542-2},
}</pre
        >
    </li>

    <li>
        <span class="bib-note">Kettnerová et&nbsp;al. (2012)</span><br /><span
            class="capsname"
            >Kettnerová</span
        >, V. &ndash; <span class="capsname">Lopatková</span>, M. &ndash;
        <span class="capsname">Bejček</span>, E. (2012): The Syntax-Semantics
        Interface of Czech Verbs in the Valency Lexicon. In
        <em>Proceedings of the 15th EURALEX International Congress</em>.
        Department of Linguistics and Scandinavian Studies, University of Oslo,
        Oslo, Norway, pp. 434-443.
        <a
            href="http://ufal.mff.cuni.cz/~lopatkova/2014/docs/4-12-euralex-sep.pdf"
            class="href"
            >(PDF)</a
        >
        <pre>
@inproceedings{12-EURALEX-sep,
	booktitle = {Proceedings of the 15th {EURALEX} International Congress},
	editor = {Ruth Fjeld and Julie Torjusen},
	title = {The Syntax-Semantics Interface of Czech Verbs in the Valency Lexicon},
	author = {V{\'{a}}clava Kettnerov{\'{a}} and Mark{\'{e}}ta Lopatkov{\'{a}}
		and Eduard Bej{\v{c}}ek},
	year = {2012},
	publisher = {Department of Linguistics and Scandinavian Studies, University of Oslo},
	address = {Oslo},
	pages = {434--443},
}</pre
        >
    </li>
</ul>
<p>
    Spolu s výše uvedenými je možné citovat také samotné data <i>VALLEX</i>u 3.0
    přístupná na LINDATu:
</p>

<ul>
    <li>
        <span class="bib-note">Lopatková et&nbsp;al. (2016b)</span><br /><span
            class="capsname"
            >Lopatková</span
        >, M. &ndash; <span class="capsname">Kettnerová</span>, V. &ndash;
        <span class="capsname">Bejček</span>, E. &ndash;
        <span class="capsname">Vernerová</span>, A. &ndash;
        <span class="capsname">Žabokrtský</span>, Z. (2016):
        <em>VALLEX 3.0</em>. LINDAT/CLARIN digital library at the Institute of
        Formal and Applied Linguistics, Charles University,
        <a href="http://hdl.handle.net/11234/1-2307"
            >http://hdl.handle.net/11234/1-2307</a
        >.
        <pre>
@misc{vallex30-data,
	title = {{VALLEX} 3.0},
	author = {Mark{\'e}ta Lopatkov{\'a} and V{\'a}clava Kettnerov{\'a}
		and Eduard Bej{\v c}ek and Anna Vernerov{\'a}
		and Zden{\v e}k {\v Z}abokrtsk{\'y}},
	url = {http://hdl.handle.net/11234/1-2307},
	note = {{LINDAT}/{CLARIN} digital library at the Institute
		of Formal and Applied Linguistics, Charles University},
	copyright = {Creative Commons - Attribution-{NonCommercial}-{ShareAlike} 4.0
		International ({CC} {BY}-{NC}-{SA} 4.0)},
	year = {2016},
}</pre
        >
    </li>
</ul>

<h2 id="val-publ">Odborné publikace vztahující se k VALLEXu</h2>

<p>
    Postupné budování VALLEXu je popsáno v řadě odborných publikacích, jejich
    seznam lze nalézt na
    <a href="http://ufal.mff.cuni.cz/vallex/publications" class="href"
        >webové stránce projektu</a
    >.
</p>

<h3 id="sec:biblio">Seznam literatury</h3>
<ul>
    <li id="bib:pdt-3-0-2013">
        <span class="bib-note">Bejček et&nbsp;al. (2013)</span><br /><span
            class="capsname"
            >Bejček</span
        >, E. et&nbsp;al. (2013): <em>Prague Dependency Treebank 3.0</em>.:
        Prague, Czech republic, Univerzita Karlova v Praze, MFF, ÚFAL. (Dostupné
        z
        <a href="http://ufal.mff.cuni.cz/pdt3.0"
            >http://ufal.mff.cuni.cz/pdt3.0</a
        >.)
    </li>
    <li id="bib:SSC">
        <span class="bib-note">Filipec et&nbsp;al. (2005)</span><br /><span
            class="capsname"
            >Filipec</span
        >, J. et&nbsp;al. (ed.) (2005):
        <em>Slovník spisovné češtiny pro školu a veřejnost</em>. Praha,
        Academia. (Co-editors: <span class="caps">Daneš</span>, F. &ndash;
        <span class="caps">Machač</span>, J. &ndash;
        <span class="caps">Mejstřík</span>, V.)
    </li>
    <li id="bib:SSJC">
        <span class="bib-note">Havránek et&nbsp;al. (1964)</span><br /><span
            class="capsname"
            >Havránek</span
        >, B. et&nbsp;al. (ed.) (1964):
        <em>Slovník spisovného jazyka českého</em>. Praha, Academia.
        (Co-editors: <span class="caps">Bělič</span>, J. &ndash;
        <span class="caps">Helcl</span>, M. &ndash;
        <span class="caps">Jedlička</span>, A. et al.)
    </li>
    <li id="bib:SYN">
        <span class="bib-note">Křen et&nbsp;al. (2016)</span><br /><span
            class="capsname"
            >Křen</span
        >, M. et&nbsp;al. (2016): <em>Český národní korpus</em>. Praha, Ústav
        Českého národního korpusu FF UK. (Dostupné z
        <a href="http://www.korpus.cz">http://www.korpus.cz</a>.)
    </li>
    <li id="bib:vallex16">
        <span class="bib-note">Lopatková et&nbsp;al. (2016)</span><br /><span
            class="capsname"
            >Lopatková</span
        >, M. &ndash; <span class="capsname">Kettnerová</span>, V. &ndash;
        <span class="capsname">Bejček</span>, E. &ndash;
        <span class="capsname">Vernerová</span>, A. &ndash;
        <span class="capsname">Žabokrtský</span>, Z. (2016):
        <em>Valenční slovník českých sloves VALLEX</em>. Nakladatelství
        Karolinum, Praha, 698 pp.
    </li>
    <li id="bib:vallex08">
        <span class="bib-note">Lopatková et&nbsp;al. (2008)</span><br /><span
            class="capsname"
            >Lopatková</span
        >, M. &ndash; <span class="capsname">Žabokrtský</span>, Z. &ndash;
        <span class="capsname">Kettnerová</span>, V. (2008):
        <em>Valenční slovník českých sloves</em>. Nakladatelství Karolinum,
        Praha, 382 pp.
    </li>
    <li id="bib:palsev-97">
        <span class="bib-note">Pala &ndash; Ševeček (1997)</span><br /><span
            class="capsname"
            >Pala</span
        >, K. &ndash; <span class="capsname">Ševeček</span>, P. (1997): Valence
        českých sloves. In
        <em>Sborník prací Filozofické fakulty brněnské univerzity</em>, 46 /
        <em>Řada jazykovědná</em>, s.&nbsp;41&ndash;54, Brno, Masarykova
        Univerzita Brno.
    </li>
    <li id="bib:SPP">
        <span class="bib-note">Svozilová et&nbsp;al. (1997)</span><br /><span
            class="capsname"
            >Svozilová</span
        >, N. &ndash; <span class="capsname">Prouzová</span>, H. &ndash;
        <span class="capsname">Jirsová</span>, A. (1997):
        <em>Slovesa pro praxi. Valenční slovník nejčastějších českých sloves</em
        >. Praha, Academia.
    </li>
</ul>
